* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background-color: #f4f7f6;
    color: #333;
}

.container {
    max-width: auto;
    margin: 100px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #800080; /* Purple color */
}

h2 {
    margin-top: 20px;
    color: #800080; /* Purple color */
}

label {
    display: block;
    margin: 10px 0 5px;
}

select, textarea, input {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 20%;
    padding: 12px;
    background-color: #800080; /* Purple color */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #6a006a; /* Darker purple */
}

.history {
    margin-top: 40px;
}

.history ul {
    list-style: none;
    padding-left: 0;
}

.history li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.history li span {
    font-weight: bold;
}

.psychiatrist-request {
    margin-top: 20px;
}

.psychiatrist-request a {
    text-decoration: none;
}

#request-psychiatrist {
    background-color: #6a006a; /* Dark purple for the request button */
}

#request-psychiatrist:hover {
    background-color: #800080; /* Lighter purple on hover */
}
